@font-face {
  font-family: ProductSans;
  src: url(../fonts/Product-Sans-Regular.ttf);
}

@font-face {
  font-family: ProductSans;
  src: url(../fonts/Product-Sans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: ProductSans;
  src: url(../fonts/Product-Sans-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: ProductSans;
  src: url(../fonts/Product-Sans-Bold-Italic.ttf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: ProductSans;
  src: url(../fonts/Product-Sans-Thin.ttf);
  font-weight: lighter;
}
